* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  #nav span{
    transform: rotate(90deg);
    font-size: 3rem;
    display: none;
  }
  body {
    font-size: 1.2rem;
  }
  
  h2 {
    padding: 1vw;
    text-align: center;
    font-size: 3ch;
  }
  
  #descricao {
    margin-top: 1vw;
  }
  
  h1 {
    background-color: #9c6f6f;
    text-align: center;
    font-size: 2rem;
    width: 100vw;
    padding: 1rem;
    height: 3rem;
  }
  
  header {
    margin-bottom: 50px;
  }
  nav{
    background-color: #f2f2f2;
  }
  nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    font-size: .9rem;
    background-color: #f2f2f2;
    text-align: center;
  }
  
  
  #img-chegar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 3ch;
  }
  
  nav ul li a:hover {
    background-color: rgb(235, 224, 224);
    opacity: .7;
  }
  
  div {
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90vw;
    min-width: 50vw;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  p {
    font-size: 2ch;
    text-indent: 1vw;
    margin-top: 1VW;
  }
  
  .par {
    text-align: justify;
    font-size: 2vw;
  }
  
  .clima {
    text-align: center;
    font-size: 4vw;
    margin-top: 3vw;
  }
  
  
  #textcomp {
    width: 50vw;
    height: 110vw;
    align-content: center;
  }
  
  #imagem-home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .titulopt{
    text-align: center;
    margin-top: 2vw;
  }
  
  .turistico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
  }
  
  .turistico figure img{
    width: 80vw;
    height: 25vw;
    margin: 1vw;
  }
  
  figure {
    display: flex;
    width: 30rem;
    height: auto;
    justify-content: center;
    align-items: center;
  
  }
  
  figure img {
    width: 90vw;
  }
  
  .turisticotexto{
    margin-right: 2rem ;
  }
  